:root {
    --font-default: "Datatype", monospace;
    --font-principal-title: "Archivo Black", sans-serif;
    --font-secodary-title-weigh:  "Roboto", sans-serif;
    --font-secorady-title-wg: 900;
    --font-size-small: 0.8rem;

    /*paleta de cores*/
    --color-primary: #333;
    --color-bkg-figures: #f2f2f2;
    --color-border: #ccc;
    --color-base-footer: #777;

    /*tamanho de imagens*/
    --logo-width: 94px;

    /*Espaçamento*/
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;

    /*Border-radius*/
    --border-width: 1px;
    --border-radius: 10px;
}

body {
    color: var(--color-primary);
    font-family: var(--font-default);
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    font-family: var(--font-principal-title);
}
h2 {
    border-bottom: 2px groove #333333;
    margin-top: 30px;
    font-family: var(--font-secodary-title-weigh);
    font-weight: var(--font-secorady-title-wg);
}
figure {
    background-color: var(--color-bkg-figures);
    border: 1px solid var(--color-border);
    text-align: center;
    padding: 15px;
    margin: 30px;
}
p {
    font-style: italic;
    margin: 15px 0;
    padding: 0 20px;
    text-indent: 15px;
    text-align: justify;
}
figcaption {
    font-style: italic;
    margin-top: 10px;
    font-family: var(--font-secodary-title-weigh);
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 20px 10px;
}

/*componente rodape*/
#rodape {
    margin: var(--space-3) 0;
    padding: var(--space-3) 0;
    color: var(--color-base-footer);
    border-top: var(--border-width) solid var(--color-border);
}

.footer_container {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    justify-content: center;
}

.footer_logo {
    width: var(--logo-width);
}